# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/
venv_old/
bin/
include/
lib/
lib64/

# Python Cache & Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE / OS Files
.vscode/
.idea/
.DS_Store