--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.110.0
uvicorn==0.28.0
sqlalchemy==2.0.28
psycopg2-binary==2.9.9
pymongo==4.6.2
pyjwt==2.8.0
passlib[bcrypt]==1.7.4
opencv-python==4.9.0.80
python-multipart
numpy<2.0.0
mediapipe==0.10.9
pymysql
cryptography
ultralytics
python-dotenv
protobuf>=3.11,<4.0.0
reportlab
email-validator>=2.0
